[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
pillow = "*"
uwsgi = "*"
"psycopg2" = "*"
django-storages-azure = "==1.6.8"

[dev-packages]

[requires]
python_version = "3.6"
