-i https://pypi.org/simple/
certifi==2019.11.28
chardet==3.0.4
django-storages-azure==1.6.8
django==2.2.10
idna==2.7
pillow==5.3.0
psycopg2==2.7.5
pytz==2019.3
requests==2.20.0
sqlparse==0.3.0
urllib3==1.24.3
uwsgi==2.0.17.1
